# Initial Jupyter Notebook
This is an initial Jupyter Notebook file.

In [1]:
print("Hello, Jupyter!")

Hello, Jupyter!

In [2]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("ReadJSON").getOrCreate()

# Read JSON files from the specified directory
df = spark.read.json("../data/output/json/*.json")

# Show the dataframe
df.show()

+--------------------+--------------------+---+------------+--------------------+
|             address|               email| id|        name|              orders|
+--------------------+--------------------+---+------------+--------------------+
|[{Springfield, IL...|john.doe@example.com|  1|    John Doe|                NULL|
|[{Springfield, IL...|mike.johnson@exam...|  3|Mike Johnson|{[{1, Apple, 10},...|
+--------------------+--------------------+---+------------+--------------------+

In [13]:
df.createOrReplaceTempView("people")
spark.sql("SELECT id,explode(address) as address FROM people").show(truncate=False)

+---+-------------------------------------+
|id |address                              |
+---+-------------------------------------+
|1  |{Springfield, IL, 123 Main St, 62701}|
|1  |{Springfield, IL, 456 Elm St, 62702} |
|3  |{Springfield, IL, 789 Oak St, 62703} |
+---+-------------------------------------+

In [ ]:
df2 = spark.sql("select order from (SELECT id,explode(orders.order) as order FROM people)")
df2.show(truncate=False)
df2.printSchema()

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "explode(order)" due to data type mismatch: Parameter 1 requires the ("ARRAY" or "MAP") type, however "order" has the type "STRUCT<id: BIGINT, product: STRING, quantity: BIGINT>".; line 1 pos 7;
'Project [unresolvedalias(explode(order#303), None)]
+- SubqueryAlias __auto_generated_subquery_name
   +- Project [id#62L, order#303]
      +- Generate explode(orders#64.order), false, [order#303]
         +- SubqueryAlias people
            +- View (`people`, [address#60,email#61,id#62L,name#63,orders#64])
               +- Relation [address#60,email#61,id#62L,name#63,orders#64] json